<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Image Search Abstraction</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>

	<div class="container">
		<img src="https://avatars0.githubusercontent.com/jaketripp?&s=300" alt="A picture of me (Jake Tripp)">
		<br/>

		<div class="icons">
			<a href="http://jaketripp.com" target="_blank"><i class="address card outline icon"></i></a>
			<a href="https://github.com/jaketripp" target="_blank"><i class="github icon"></i></a>
			<a href="https://www.linkedin.com/in/jake-tripp/" target="_blank"><i class="linkedin icon"></i></a>
			<a href="https://medium.com/@jaketripp" target="_blank"><i class="medium icon"></i></a>
		</div>


		<h1>FreeCodeCamp API Project #4: Image Search Abstraction</h1>

		<blockquote>
			<p>User stories:</p>
			<ul>
				<li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
				<li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
				<li>I can get a list of the most recently submitted search strings.</li>
			</ul>
		</blockquote>

		<h3>Search for images:</h3>
		<code>https://aquatic-sled.glitch.me/api/imagesearch/lolcats%20funny?offset=10</code>
		<br/>
		<h3>Returns:</h3>
		<code>{
			<br/>
			url: "https://i.ytimg.com/vi/dWpGC6Fg0io/hqdefault.jpg",
			<br/>
			snippet: "Jas Patrick sings Snow Day starring LOLCats Funny Cats - YouTube",
			<br/>
			thumbnail: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNMCLSl2dHm87xTU6uMFZD0Jym2E-4lAaSdJzfc_6OkeB_CdF1vjgZZsR2",
			<br/>
			context: "https://www.youtube.com/watch?v=dWpGC6Fg0io"
			<br/>
			},
			<br/>
			{
			<br/>
			url: "http://i0.kym-cdn.com/photos/images/facebook/000/182/924/funny-pictures-cat-asks-to-be-sent-down-the-bar.jpg",
			<br/>
			snippet: "Image - 182924] | LOLcats | Know Your Meme",
			<br/>
			thumbnail: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMw7l19VX2IKGv5idoMc6vPN4Ljl7acUu_aT_9V_8oPA36Bu0aRxzRBun0",
			<br/>
			context: "http://knowyourmeme.com/photos/182924-lolcats"
			<br/>
			},
			<br/>
			{
			<br/>
			url: "https://i.ytimg.com/vi/BZhZiCjUilk/hqdefault.jpg",
			<br/>
			snippet: "Lolcats And Funny Computer Errors - YouTube",
			<br/>
			thumbnail: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-0jEp_p8F_GovkBQRiFpW21nDi6Ydx_8p4ptts2g38IVdR5nk2BNOhtEF",
			<br/>
			context: "https://www.youtube.com/watch?v=BZhZiCjUilk"
			<br/>
			},
			<br/>
			...
			<br/>
			<br/>
		</code>

		<h3>Browse recent search history:</h3>
		<code>https://aquatic-sled.glitch.me/api/latest/imagesearch/</code>
		<h3>Returns:</h3>

		<code>{
			<br/>
			term: "lolcats funny",
			<br/>
			when: "2017-11-13T00:05:21.923Z"
			<br/>
			},
			<br/>
			{
			<br/>
			term: "derekjeter",
			<br/>
			when: "2017-11-12T23:58:04.952Z"
			<br/>
			},
			<br/>
			{
			<br/>
			term: "derekjeter",
			<br/>
			when: "2017-11-12T23:57:51.453Z"
			<br/>
			},
			<br/>
			...
			<br/>
		</code>
	</div>

</body>

</html>

