<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Image Search Abstraction</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
	<link rel="stylesheet" href="style.css">
</head>

<body>

	<div class="container">
		<img src="https://avatars0.githubusercontent.com/jaketripp?&s=300" alt="A picture of me (Jake Tripp)">
		<br/>

		<div class="icons">
			<a href="http://jaketripp.com" target="_blank"><i class="address card outline icon"></i></a>
			<a href="https://github.com/jaketripp" target="_blank"><i class="github icon"></i></a>
			<a href="https://www.linkedin.com/in/jake-tripp/" target="_blank"><i class="linkedin icon"></i></a>
			<a href="https://medium.com/@jaketripp" target="_blank"><i class="medium icon"></i></a>
		</div>


		<h1>FreeCodeCamp API Project #4: Image Search Abstraction</h1>

		<blockquote>
			<p>User stories:</p>
			<ul>
				<li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
				<li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
				<li>I can get a list of the most recently submitted search strings.</li>
			</ul>
		</blockquote>

		<h3>Search for images:</h3>
		<code>https://aquatic-sled.glitch.me/imgsearch/freecodecamp?offset=1</code>
		<br/>
		<h3>Returns:</h3>
		<code>
			{
			<br/>
			url: "https://camo.githubusercontent.com/60c67cf9ac2db30d478d21755289c423e1f985c6/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f66726565636f646563616d702f776964652d736f6369616c2d62616e6e65722e706e67",
			<br/>
			snippet: "GitHub - freeCodeCamp/freeCodeCamp: The https://freeCodeCamp.org ...",
			<br/>
			thumbnail: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7XYgcPGL54mHWasv6qo826PNRCz77gpWQfaC4HDczwdrrBPU9BcltP1K6",
			<br/>
			context: "https://github.com/freeCodeCamp/freeCodeCamp"
			<br/>
			}
			<br/>
			...
		</code>

		<h3>Browse recent search history:</h3>
		<code>https://aquatic-sled.glitch.me/latest/</code>
		<h3>Returns:</h3>

		<code>{
			<br/>
			term: "freecodecamp",
			<br/>
			when: "2017-11-14T23:47:52.746Z"
			<br/>
			}
			<br/>
			...
		</code>
	</div>

</body>

</html>